<!DOCTYPE html>
<html>
<head>
	<title>HOUSE </title>
    <link rel="icon" type="image/ico" href="../../pictures/icon.jpg">
    <link rel="stylesheet" type="text/css" href="../../style/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../style/classes1.css">
    <link rel="stylesheet" type="text/css" href="GOT.css">

</head>
<body style="background-image: url(../../pictures/z.jpg);">
	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="margin-right: 10px; margin-left:  10px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-list" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                <a href="../../index.html" target="self" class="navbar-brand">Game Of Thrones</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-list">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">House <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../Houses/starkhouse.html" target="blank" >Stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../Houses/Targeriyan HOUSE.html" target="blank" >Targaryen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../Houses/lannister.html" target="blank" >Lannister</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Barathion</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Arryn</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Tully</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Greyjoy</a></li>
                    </ul></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Characters <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../characters/jonsnow.html" target="blank">Jon Snow</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../characters/Denneris.html" target="blank">Daenerys Targaryen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../characters/aarya.html" target="blank">Arya Stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sansa Stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Bran stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Cercie Lannister</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Jamie Lannister</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Tyrion Lannister</a></li>
                    </ul></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Game Of Thrones</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Clash Of Kings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Storm of Swords</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Feast For Crows</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Dance Of Dragons</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Winds Of Winter</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Dream Of Spring</a></li>
                    </ul></li>
                <li class="dropdown">
                      <a href="../games/Game.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Game <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../games/GameF.html" target="blank">Game of Faces</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../games/GameH.html" target="blank">Game of Houses</a></li>
                    </ul></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../forms/joinhouse.html" target="blank">Join House</a></li>
                    <li><a href="../forms/login.html" target="blank">Enter House</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            <form class="navbar-form navbar-left">
                 <div class="form-group">
                   <input type="text" class="form-control" placeholder="Search">
                 </div>
                 <button type="submit" class="btn btn-default">Submit</button>
             </form>
            </div>
        </div>
    </nav>
    <div class="jumbotron" style="background-color: #000000; padding-bottom: 0px; margin-bottom: 0px; border-bottom: 0px; margin-left: -14px ">
    	<div class="container-fluid" id="content"></div>
    	<div class="row">
    		<div class="col-lg-4 col-xs-4">
    			<div class="thumbnail" style="border: 0px; margin: 0px; padding: 0px;">
    				<img src="../../pictures/tar.jpg" width="500" height="500">
    			</div>
    		</div>
    		<div class="col-lg-8 col-xs-8" id="content">
    	<h1 style="font-size: 7vw;color: #bb0000; "><q>FIRE AND BLOOD</q></h1>
    		</div>
    	</div></div>
    </div>
    <div class="container" style=" padding-bottom: 100px; padding-right:0px; margin-top: 70px; margin-bottom: 70px" id="content">
    	<img src="../../pictures/targareyan gif.gif">
    		</div>

    	</div>
    </div>
     <div class="container" style="background-color: #FAE982;" id="content">
        <div class="col-lg-4 col-md-4">
            <div class=" peep thumbnail">
                <img src="../../pictures/rhaegar.jpg">
                <h3>RHAEGAR TARGAREYAN</h3>
                <p>Prince Rhaegar Targaryen was the eldest son and heir to King Aerys II Targaryen. He was the husband of Elia Martell. Secretly, Rhaegar annulled his marriage with Elia and married Lyanna Stark. Rhaegar's alleged "abduction" of Lyanna sparked Robert's Rebellion</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="peep thumbnail">
                <img src="../../pictures/daenerys.jpg">
                <h3>DAENERYS TARGERYAN</h3>
                <p>Queen Daenerys I Targaryen is the younger sister of Rhaegar Targaryen and Viserys Targaryen, the paternal aunt of Jon Snow, and the youngest child of King Aerys II Targaryen and Queen Rhaella Targaryen, who were both ousted from the Iron Throne during Robert Baratheon's rebellion
                their dynasty, and which housed the Iron Throne. Their original castle was almost always given to the heir to the throne, the Prince of Dragonstone. The Targaryens eventually built the summer residence.She have three dragons.
</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="peep thumbnail">
                <img src="../../pictures/viserys.jpg">
                <h3>VISERYS TARGERYAN</h3>
                <p>King Viserys III Targaryen was the younger brother of the late Rhaegar Targaryen, the older brother of Daenerys Targaryen, and the paternal uncle of Jon SnowViserys Targaryen is the second born.  son of Aerys II TargaryenThirteen years before the events of the series, he and his sister Daenerys fled Westeros to escape death at the hands of rebel Robert Baratheon. ... Daenerys later names one of her dragons Viserion, after Viserystheir dynasty, and which housed the Iron Throne. Their original castle was almost always given to the heir to the throne, the Prince of Dragonstone. The Targaryens eventually built the summer.</p>
            </div>
        </div>
    </div>
        <div class="container" id="content">
        <div class="col-lg-8 col-md-8">
        	<br><br><br><br>
                <h4 class="targ" > House Targaryen is a noble family of Valyrian descent who once ruled the Seven Kingdoms of Westeros. The Targaryen sigil is a three-headed dragon breathing flames, red on black.[1][2][3] The house words are "Fire and Blood".[4]

The only family of dragonlords who survived the Doom of Valyria, the Targaryens left the Valyrian Freehold twelve years before the Doom. They resided for more than a century at Dragonstone on the island of the same name, until Aegon the Conqueror and his sister-wives, Visenya and Rhaenys, began the first of the Wars of Conquest in -2 AC.

Following the conclusion of Aegon's Conquest in 1 AC, they built the Aegonfort in the new capital city of King's Landing. The Aegonfort was later torn down and replaced by the Red Keep, which remained their main seat for the duration of their dynasty, and which housed the Iron Throne. Their original castle was almost always given to the heir to the throne, the Prince of Dragonstone. The Targaryens eventually built the summer residence Summerhall, which has been given to several younger sons of the family over time.

House Targaryen ruled as the Kings of the Andals, the Rhoynar, and the First Men, the Lords of the Seven Kingdoms, and the Great House of the crownlands for nearly three hundred years. Seventeen male Targaryens ruled from the Iron Throne.[N 1] The dynasty ended with the death of Aerys the Mad King during Robert's Rebellion, in which the Targaryens were overthrown and replaced by House Baratheon. The two surviving children of Aerys II, Viserys and Daenerys Targaryen, fled into exile, and have resided in the Free Cities of Essos ever since.
The phrase "blood of the dragon" refers to the Valyrian descent of the Targaryens, and more specifically to the fact that they were one of forty dragonlord families of Valyria.[5] The typical Targaryen features remind strongly of the typical Valyrian features: pale skin, silver, platinum, or gold hair and eyes in a variety of shades of purple, or light blue.[6][7]

The Targaryens can tolerate a bit more heat than most ordinary people; However, they are not immune to fire.[8][9]

Another trait typical to Targaryens is the ability to have premonition-like dreams.[10] The trait has been in the Targaryen family since before they relocated from Valyria to Dragonstone in -126 AC (and in fact, is what caused them to relocate).[5] This trait was passed on to the cadet branch, House Blackfyre, as well.[10]

The Targaryens are seen as prone to madness, presumably caused by their inbreeding.[9] According to King Jaehaerys II, "madness and greatness are two sides of the same coin. Every time a new Targaryen is born [...] the gods toss the coin in the air and the world holds its breath to see how it will land".[11]</h4>
        </div>
        <div class="col-lg-4 col-md-4">
 <div class="table-responsive"  >
                <table class="table table-d">
                <tr>
                    <td colspan="10"><div class="thumbnail" style="padding: 0px;margin: 0px;"><img
                         src="../../pictures/tar.jpg" style="border:0px;margin:0px;padding:0px"></div></td>
                </tr>   
                <tr>
                    <th rowspan="6" style="background-color: #000000;">FAMILY MEMBERS</th>
                    <tr><td style="color: #660000;">  Aemon Targeryan</td></tr>
                    <tr><td style="color: #660000;">Aegon Targeryan</td></tr>
                    <tr><td style="color: #660000;">Daenerys Targeryan</td></tr>
                    <tr><td style="color: #660000;">Rhaegar Targeryan </td></tr>
                   <tr><td style="color: #660000;">Viserys Targeryan</td></tr>
                </tr>
                <tr>
                    <th rowspan="4" style="background-color: #000000;">HOUSE LEADERS</th>
                    <tr><td style="color: #660000;">Aegon Targeryan</td></tr>
                    <tr><td style="color: #660000;">Rhaegar Targeryan</td></tr>
                    <tr><td style="color: #660000;">Daenerys Targeryan (Current)</td></tr>

                </tr>
                <tr>
                    <th rowspan="5" style="background-color: #000000;">ALLIANCES</th>
                    <tr><td style="color: #660000;">House Tully</td></tr>
                    <tr><td style="color: #660000;">House Lannister</td></tr>
                    <tr><td style="color: #660000;">House Stark</td></tr>
                    <tr><td style="color: #660000;">House Tyrell</td></tr>

                </tr>
                <tr>
                	<th rowspan="2" style="background-color: #000000;">SEAT</th>
                	<tr><td style="color: #660000;">King's Landing</td></tr>
                </tr>
                <tr>
                    <th rowspan="2"style="background-color: #000000;">REGION</th>
                    <tr><td style="color: #660000;">Seven Kingdoms</td></tr>
                </tr>
                <tr>
                    <th rowspan="4" style="background-color: #000000;">DRAGONS</th>
                    <tr><td style="color: #660000;">Draecarys</td>
                    </tr><tr><td style="color: #660000;">Viseryion</td>
                    </tr><tr><td style="color: #660000;">Rhaegarys</td></tr>
                </tr>


                </table>  
            </div>
        </div>
    </div>


<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../../js/bootstrap.js"></script>
</body>
</html>