<!DOCTYPE html>
<head>
    <title>Daenerys1</title>
    <link rel="icon" type="image/ico" href="../../pictures/icon.jpg">
    <link rel="stylesheet" type="text/css" href="../../style/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../style/classes1.css">
</head>
<body style="background-image: url(background.jpg);">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="margin-right: 10px; margin-left:  10px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-list" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                <a href="../../index.html" target="self" class="navbar-brand">Game Of Thrones</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-list">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">House <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../Houses/starkhouse.html" target="blank" >Stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../Houses/Targeriyan HOUSE.html" target="blank" >Targaryen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../Houses/lannister.html" target="blank" >Lannister</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Barathion</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Arryn</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Tully</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Greyjoy</a></li>
                    </ul></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Characters <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../characters/jonsnow.html" target="blank">Jon Snow</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../characters/Denneris.html" target="blank">Daenerys Targaryen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../characters/aarya.html" target="blank">Arya Stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sansa Stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Bran stark</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Cercie Lannister</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Jamie Lannister</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Tyrion Lannister</a></li>
                    </ul></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Game Of Thrones</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Clash Of Kings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Storm of Swords</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Feast For Crows</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Dance Of Dragons</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Winds Of Winter</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Dream Of Spring</a></li>
                    </ul></li>
                <li class="dropdown">
                      <a href="../games/Game.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Game <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../games/GameF.html" target="blank">Game of Faces</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../games/GameH.html" target="blank">Game of Houses</a></li>
                    </ul></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../forms/joinhouse.html" target="blank">Join House</a></li>
                    <li><a href="../forms/login.html" target="blank">Enter House</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            <form class="navbar-form navbar-left">
                 <div class="form-group">
                   <input type="text" class="form-control" placeholder="Search">
                 </div>
                 <button type="submit" class="btn btn-default">Submit</button>
             </form>
            </div>
        </div>
    </nav>
    <div class="container" style="background-color:#d9dbdd; ">
    <div style="margin-top: 52px">
     <div class="jumbotron" style="border: 70px; margin-bottom:50px; padding: 0px;background-color:#d9dbdd;">
        <div class="container-fluid">
            <div class="col-lg-8 col-mid-8 q">
               <h4><br><br><br> " When my dragons are grown, we will take back what was stolen from me and destroy those who wronged me! ...
"</h4>
               <h1 style="text-align: right">-Daenerys</h1>
            </div>
            <div class="col-lg-4 col-mid-4">
                <div class="thumbnail" style="border: 0px; margin: 0px; padding: 0px;">
                <img src="../../pictures/daenerys2.jpg" >
                </div>                
            </div>
        </div>
    </div>
        <div class="container-fluid">
        <div class="col-lg-12">
            <div class="thumbnail" style="border: 0px; margin: 0px; padding: 0px;">
            <img src="../../pictures/daenerys1.jpg" alt="">
            </div>
        </div>
        </div>
              
        <div class="container-fluid" style="margin-top:20px">
        <div class="col-lg-8 col-md-8">
            <div  style="padding: 0px;margin:0px">
            <h1>Appearance & Character</h1>
            </div style="font-size: 20px"> 
            <div style="font-size: 16px">
                <p>
                    A young woman in her early teens, Daenerys has the classical Valyrian look; She has violet eyes, pale skin, and long, pale silver-gold hair. Daenerys is slender of frame, with small breasts. She is said to resemble Queen Naerys Targaryen, though Daenerys is taller. Daenerys has been described as fair, and beautiful.
</p>
<p>
Beside the Common Tongue, Daenerys speaks the bastard Valyrian of the Free Cities with a Tyroshi accent, and High Valyrian. She quickly learns the Dothraki language, and the Ghiscari tongue.
</p>
<p>
Daenerys grew up terrified of and abused by her brother Viserys, and was regarded as fearful and furtive by Magister Illyrio Mopatis. She grows more confident in A Song of Ice and Fire, however, and her followers generally regard her with great respect and love, and Jorah Mormont and Barristan Selmy have compared her to her deceased brother, Prince Rhaegar, who had been valiant, honorable, and noble, and is still fondly remembered in the Seven Kingdoms.</p>
<p>
As she was raised in exile, never staying long as one place, Daenerys has never truly known a place to call home. Though she describes the fragrance of the Western Market at Vaes Dothrak with smelling "of home", they in fact remind of her her days spent in several of the Free Cities as a small child. Among the Dothraki, she feels safe, loved and hopeful for the first time. The house with the red door in Braavos, where she lived until she was about five years old, has come to symbolize her lost childhood, and she frequently wishes to return there. Though she has never seen Westeros and cannot remember Dragonstone, she believes that the Iron Throne is her by rights, as Viserys's heir, and that ruling the Seven Kingdoms is her duty. Daenerys abhors slavery and is willing to put the needs of her people before her own desires.
</p>
Daenerys loves the sea, as it makes her feel free, as well as the sailors and their songs and stories.She also loves to read children's stories and songs from the Seven Kingdoms about hall and handsome heroes. She enjoys heat, preferring her baths scalding hot.


    
</p>

            </div> 
        </div>
        <div class="col-lg-4 col-md-4" style="margin-top:20px">
            <div class="table-responsive"  >
                <table class="table table-d">
                <tr>
                    <td colspan="10"><div class="thumbnail" style="padding: 0px;margin: 0px;"><img
                         src="../../pictures/daenerys3.jpg" style="border:0px;margin:0px;padding:0px"></div></td>
                </tr>   
                <tr>
                    <th rowspan="5">Alias</th>
                    <tr><td>Daenerys Stormborn</td></tr>
                    <tr><td>Dragon Mother</td></tr>
                    <tr><td>Silver Queen</td></tr>
                    <tr><td>The Unburnt</td></tr>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">Title</th>
                    <tr><td>Queen Of Seven Kingdoms</td></tr>
                </tr>
                <tr>
                    <th rowspan="6">Books</th>
                    <tr><td>A Game of Thrones</td></tr>
                    <tr><td>A Clash of kings</td></tr>
                    <tr><td>A Strom of swords</td></tr>
                    <tr><td>Feast For Crows</td></tr>
                    <tr><td>Dance with Dragons</td></tr>
                                    
                </tr>
                </table>  
            </div>
        </div>
            </div>
     </div>
</div>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="../../js/bootstrap.js"></script>   
</body>
