<html>
<head>
<link rel="icon" type="image/ico" href="../../pictures/bg2.jpg"/>
<link rel="icon" type="image/ico" href="../../pictures/icon.jpg">
<link rel="stylesheet" type="text/css" href="../../style/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../style/classes1.css">
    <title>JOIN A HOUSE</title>
<style>
      body{
	    font-family:Ariel;
		background-color:grey;
	  }
	  .form-div{
	    width:250px;
		text-align:center;
		margin:150px auto;
		background-color: rgba(0,0,0,0.5);
		border-radius: 10px;
		box-shadow: 0 0 15px #00aeef;
	  }
	  .form-div img{
	    width:100px;
	    margin-top: -50px;
		border-radius: 30px;
	  }
	  input[type='text']{
	    text-align:center;
		border:none;
		outline:none;
		font-size: 18px;
		height: 35px;
		background: transparent;
		color: white;
		border-bottom: 3px solid teal;
		width: 200px;
	  }
	  
	  
	  input[type='text']:focus{
	   border-bottom:3px solid #00aeef;
	  }
	  ::placeholder{
	   color:lightgrey;
	  }
	  input[type='submit'],  
	  input[type='reset']{
	    background-color:teal;
		color: white;
		border: none;
		font-size: 18px;
		margin: 15px;
		padding: 8px 35px;
		border-radius: 50px;
	  }  
	  input[type='submit']:hover,
	  input[type='reset']:hover{
	    background-color: #00aeef;
		box-shadow: 0 0 15px white;
	  }
</style>
</head>
<body style=" background-image: url('../../pictures/login.jpg'); background-size: cover;" >
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="margin-right: 10px; margin-left:  10px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-list" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
            <a href="../../index.html" target="self" class="navbar-brand">Game Of Thrones</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-list">
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">House <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../Houses/starkhouse.html" target="blank" >Stark</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="../Houses/Targeriyan HOUSE.html" target="blank" >Targaryen</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="../Houses/lannister.html" target="blank" >Lannister</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Barathion</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Arryn</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Tully</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Greyjoy</a></li>
                </ul></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Characters <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../characters/jonsnow.html" target="blank">Jon Snow</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="../characters/Denneris.html" target="blank">Daenerys Targaryen</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="../characters/aarya.html" target="blank">Arya Stark</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Sansa Stark</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Bran stark</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Cercie Lannister</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Jamie Lannister</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Tyrion Lannister</a></li>
                </ul></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Game Of Thrones</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Clash Of Kings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Storm of Swords</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Feast For Crows</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Dance Of Dragons</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Winds Of Winter</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Dream Of Spring</a></li>
                </ul></li>
            <li class="dropdown">
                  <a href="../games/Game.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Game <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../games/GameF.html" target="blank">Game of Faces</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="../games/GameH.html" target="blank">Game of Houses</a></li>
                </ul></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../forms/joinhouse.html" target="blank">Join House</a></li>
              <li><a href="../forms/login.html" target="blank">Enter House</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        <form class="navbar-form navbar-left">
             <div class="form-group">
               <input type="text" class="form-control" placeholder="Search">
             </div>
             <button type="submit" class="btn btn-default">Submit</button>
         </form>
        </div>
    </div>
</nav>
<div class="form-div animated zoomInDown">
<h2 style="color: white;">JOIN A HOUSE</h2>
<form>
<input type="text" placeholder="FIRST NAME">
<br>
<input type="text" placeholder="LAST NAME">
<br>
<input type="text" placeholder="GENDER">
<br>
<input type="text" placeholder="HOUSE TO JOIN">
<br>
<input type="text" placeholder="MOBILE NUMBER">
<br>
<input type="text" placeholder="EMAIL">
<br>
<input type="text" placeholder="PASSWORD">
<br>
<input type="text" placeholder="CONFIRM PASSWORD">
<br>
<input type="submit" placeholder="SUBMIT">
<input type="reset" placeholder="RESET">
<br>
</div>
</form>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../../js/bootstrap.js"></script>
</body>
</html>